<div class="profile-content">
    <div class="profile-information">
        <img src="{{currentUser.avatar}}" alt="profile picture">
        <h1>{{currentUser.fullName}}</h1>
        <p>{{currentUser.aboutUser}}</p>
        <p>{{currentUser.email}}</p>
        <p>{{currentUser.course}}</p>
        <p>{{currentUser.startDate}}</p>
    </div>

    <div class="profile-other-information">
        <div class="profile-files">
            <h2>Your projects</h2>
            <ul>
                {{#each projectArray}}
                <li>
                  <a class="link" href="/projects/{{this._id}}"><p>{{this.name}}</p></a>
                </li>
                {{else}}
                    <li>There is no project yet</li>
                    <li><a class="link" href="/add-project">Add your amazing project</a></li>
                {{/each}}
            </ul>
        </div>

        <div class="profile-files profile-idea ">
            <h2>Your ideas</h2>
            <ul>
                {{#each ideaArray}}
                <li>
                  <a class="link" href="/ideas/{{this._id}}"><p>{{this.name}}</p></a>
                </li>
                {{else}}
                    <li>There is no idea yet</li>
                    <li><a class="link" href="/add-idea">Add your amazing idea</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="profile-modifications">
<a href="/profile-settings"><button>Edit</button></a>
</div>