<h2>YOUR PROFILE</h2>

<p>Name: {{currentUser.fullName}}</p>
<p>Email: {{currentUser.email}}</p>
<p>Course: {{currentUser.course}}</p>
<p>Start date: {{currentUser.startDate}}</p>
<p>About me: {{currentUser.aboutUser}}</p>


<img src="{{currentUser.avatar}}" alt="profile pciture" height="100px">


<a href="/profile-settings"><button>Edit</button></a>