{{>flash_messages}}


<div class="detailed-content">
    <div class="detailed-main-content">

        <img class="detailed-main-image" src="{{myIdea.picture}}" />
        
        <div class="detailed-main-text">
            <h1 class="detailed-main-title">{{myIdea.name}}</h1>
            <p class="detailed-main-description">{{myIdea.description}}</p>
            <p>User Deadline: {{myIdea.getDeadline}}</p>
        </div>

        {{#if isOwner}}
        <div class="detailed-main-author">
        <a href="/idea-settings/{{myIdea._id}}"><button>EDIT</button></a>
        <a href="/ideas/{{myIdea._id}}/delete"><button>DELETE</button></a>
        </div>
        {{/if}}

    </div>

    <div class="detailed-author-content">
        <div class="detailed-author-text">
            <h2>Creator</h2>
            <img src="{{myIdea.author.avatar}}"/>
            <p>{{myIdea.author.fullName}}</p>
            <p>{{myIdea.author.email}}</p>
            <p>{{myIdea.author.course}}</p>
        </div>
        <a href="mailto:{{myProject.author.email}}"><button>Message me</button></a>
    </div>
</div>