<h2>Idea detailed page</h2>

{{>flash_messages}}

<img src="{{myIdea.pictureUrl}}" />
<h3>{{myIdea.name}}</h3>
<p>{{myIdea.description}}</p>
<p>User Deadline: {{myIdea.deadline}}</p>

<p>User ID:{{myIdea.user}}</p>
