<h2>Idea detailed page</h2>

{{>flash_messages}}

<img src="{{myIdea.pictureUrl}}" />
<h3>{{myIdea.name}}</h3>
<p>{{myIdea.description}}</p>
<p>User Deadline: {{myIdea.deadline}}</p>


<a href="/idea-settings/{{myIdea._id}}">EDIT</a>


<h3>User</h3>
<p>{{myIdea.user.fullName}}</p>
<p>{{myIdea.user.email}}</p>
<p>{{myIdea.user.course}}</p>