<h1>PROJECT SETTINGS</h1>

<h3>EDIT YOUR PROJECT</h3>

<form action="/process-project-settings/{{myProject._id}}" method="POST">

  {{!-- to add a value to all fields --}}
  <label>
    Name*:
    <input type="text" value="{{myProject.name}}" name="name" placeholder="Name of your project" />
  </label>
  <br />

  <label>
    Description*:
    <input type="text" value="{{myProject.description}}" name="description" placeholder="Tell us about this amazing project" />
  </label>
  <br />

  <label>
    Deadline:
    <input type="date" value="{{myProject.deadline}}" name="deadline" placeholder="What's your deadline" />
  </label>
  <br />

  <label>
    Picture URL:
    <input type="url" value="{{myProject.pictureUrl}}" name="pictureUrl" placeholder="http://example.com" />
  </label>
  <br />

  <label>
    Link URL:
    <input type="url" value="{{myProject.linkUrl}}" name="linkUrl" placeholder="http://example.com" />
  </label>
  <br />

  <button>Save your project</button>
</form>