<h2>Project detailed page</h2>

{{>flash_messages}}

<img src="{{myProject.pictureUrl}}" />
<h3>{{myProject.name}}</h3>
<p>{{myProject.description}}</p>
<p>User Deadline: {{myProject.deadline}}</p>

<p>User ID:{{myProject.user}}</p>


<a href="/project-settings/{{myProject._id}}">EDIT</a>