<h2>Project detailed page</h2>

{{>flash_messages}}

<img src="{{myProject.pictureUrl}}" />
<h3>{{myProject.name}}</h3>
<p>{{myProject.description}}</p>
<p>User Deadline: {{myProject.deadline}}</p>


<a href="/project-settings/{{myProject._id}}">EDIT</a>
<a href="/projects/{{myProject._id}}/delete">DELETE</a>

<h3>User</h3>
<p>{{myProject.user.fullName}}</p>
<p>{{myProject.user.email}}</p>
<p>{{myProject.user.course}}</p>