<div class="main-wrapper-form">
  <h1 class="form-h1">EDIT YOUR PROJECT</h1>


  <form class="form" action="/process-project-settings/{{myProject._id}}" method="POST" enctype="multipart/form-data">
    <div class="form-all-labels">
      <label class="form-label">
        Name*:
        <input class="form-input" type="text" value="{{myProject.name}}" name="name" placeholder="Name of your project" />
      </label>


      <label class="form-label">
        Description*:
        <textarea class="form-textarea" type="text" name="description" placeholder="Tell us about this amazing project">{{myProject.description}}</textarea>
      </label>


      <label class="form-label">
        Deadline:
        <input class="form-input" type="date" value="{{myProject.deadline}}" name="deadline" placeholder="What's your deadline" />
      </label>


      <label class="form-label">
        Picture:
        <input class="form-input" type="file" value="{{myProject.pictureUrl}}" name="imageUpload" placeholder="http://example.com" />
      </label>


      <label class="form-label">
        Link URL:
        <input class="form-input" type="url" value="{{myProject.linkUrl}}" name="linkUrl" placeholder="http://example.com" />
      </label>
    </div>

    <button class="form-button">Save your project</button>
  </form>
</div>