<h2>Project detailed page</h2>

{{>flash_messages}}

<img src="{{myProject.pictureUrl}}" />
<h3>{{myProject.name}}</h3>
<p>{{myProject.description}}</p>
<p>User Deadline: {{myProject.deadline}}</p>


<a href="/project-settings/{{myProject._id}}">EDIT</a>
<a href="/projects/{{myProject._id}}/delete">DELETE</a>

<section>
<form action="/projects/{{myProject._id}}/process-comment" method="POST">
<input type="text" name="content" placeholder="Any feedback on this project?" />
<button>Save your comment</button>
</form>

<ul>
    {{#each commentArray}}
    <li>
        <p><b>{{this.author.fullName}}</b> says:</p>
        <p>{{this.content}}</p>
    </li>
    {{else}}
    <li>No reviews yet. Be the first to write one!</li>
    {{/each}}
</ul>
</section>

<h3>User</h3>
<p>{{myProject.author.fullName}}</p>
<p>{{myProject.author.email}}</p>
<p>{{myProject.author.course}}</p>