<h1>Admin Zone</h1>

<h2>Non verified User List</h2>

<ul>
  {{#each userArray}}
  <li><img src="{{this.avatar}}" alt="profile pic" height="50px"/></li>
  <li>{{this.fullName}}</li>
  <li>{{this.email}}</li>
  <li>{{this.role}}</li>
  <li>{{this.course}}</li>
  <ul>    
    <li><a href="/admin/{{this._id}}/delete"><button>DELETE</button></a></li>
    <li><a href="/admin/{{this._id}}/approve"><button>APPROVE</button></a></li> 
  </ul>
  {{/each}}
</ul>