<h2>Admin Zone</h2>

<h3>Non verified User List</h3>

<ul>
  {{#each userArray}}
  <li>
    <h4>{{this.fullName}}</h4>
    <ul>
      <li>Email: {{this.email}}</li>
      <li>Registered: {{this.createdAt}}</li>
      <li>Role: {{this.role}}</li>
      <li>Start Date: {{this.startDate}}</li>
      <li><img src="{{this.avatar}}" alt="profile pic" height="100px"/></li>
    </ul>
    <a href="/admin/{{this._id}}/delete"><button>DELETE</button></a>
    <a href="/admin/{{this._id}}/approve"><button>APPROVE</button></a>
  </li>
  {{/each}}
</ul>