<h1>Admin Zone</h1>

<h2>Verified User List</h2>

<ul class="users">
  {{#each userArray}}
  <li>
    <ul class="user-item">
      <li><img src="{{this.avatar}}" alt="profile pic"/></li>
      <ul class="user-info">
        <li>{{this.fullName}}</li>
        <li>{{this.email}}</li>
        <li>{{this.role}}</li>
        <li>{{this.course}}</li>  
      </ul> 
      <li><a href="/admin/{{this._id}}/delete"><button>DELETE</button></a></li>
    </ul>
  </li>
  {{/each}}
</ul>